$color_text_main:  #000;
$color_text_point:  #e6e6fa;
$color_text_sub:  #333;
$color_text_main_rev: #fff;
$color_text_point_rev: #68689b;
$color_text_sub_rev: #ccc;

$color_line_main:  #ccc;
$color_line_point:  #e6e6fa;
$color_line_sub:  #e4e4e4;

$color_bg_main:  #fcfcfc;
$color_bg_point:  #e6e6fa;
$color_bg_sub:  #f1f1f1;

$grid_space : 24px;
$grid_spac2 : 24px / 2;